.NavBar {
    background-color: #ffffff;
}

.NavLogo {
    margin-right: 2px;
}

.NavLogo span {
    margin: 5px 5px 0 10px;
}

.NavLogo:hover {
    background-color: #ffffff;
}

img:hover {
    background-color: #c5ecef;
}

.NavLink {
    padding: 10px;
    color: black;
}

.Active {
    background-color: #d9f1fb;
}
  
a:hover {
    color: #11780a;
}